doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Artisphere
  body(style="background-color: pink")
    a(href="javascript: history.go(-1)") Go Back
    h1
      | You Must be Logged in to use This Feature 
      a(href="/signUp") Sign Up
      |  or 
      a(href="/logIn") Log In
    br